<main class="container">
    <section id="table-header" class="d-flex justify-content-between">
        <div class="title">
            <h2>Tabela</h2>
        </div>
        <div class="btns">
            <a class="btn btn-success fw-bold" routerLink="/team">Adicionar Time</a>
        </div>
    </section>
    <section id="teams" class="">
        <div class="team">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">V</th>
                        <th scope="col">D</th>
                        <th scope="col">E</th>
                        <th scope="col">Pts</th>
                    </tr>
                </thead>
                <tbody app-table-row>
                </tbody>
            </table>
        </div>
    </section>
</main>