<main class="container">
    <section id="title" class="">
        <h2>Tabela</h2>
    </section>
    <section id="teams" class="">
        <div class="team">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">V</th>
                        <th scope="col">D</th>
                        <th scope="col">E</th>
                        <th scope="col">Pts</th>
                    </tr>
                </thead>
                <tbody app-table-row>
                    
                </tbody>
            </table>
        </div>
    </section>
</main>