<main id="create-edit-team" class="container">
    <section class="d-flex justify-content-center">
        <form class="p-5 w-75">
            <div class="form-group mb-3">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name-input" aria-describedby="name">
            </div>
            <div class="form-group row mb-3">
                <div class="col">
                    <input type="number" min="0" class="form-control" id="wins-input" aria-describedby="wins" placeholder="Vitórias">
                </div>
                <div class="col">
                    <input type="number" min="0" class="form-control" id="wins-input" aria-describedby="wins" placeholder="Empates">
                </div>
                <div class="col">
                    <input type="number" min="0" class="form-control" id="wins-input" aria-describedby="wins" placeholder="Derrotas">
                </div>
            </div>
            <div class="form-btn d-flex justify-content-end">
                <button type="submit" class="btn btn-success fw-bold">Salvar</button>
            </div>
        </form>
    </section>
</main>