<main class="container">
    <section id="title" class="">
        <h2>Tabela</h2>
    </section>
    <section id="teams" class="">
        <div class="team">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">V</th>
                        <th scope="col">D</th>
                        <th scope="col">E</th>
                        <th scope="col">Pts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Time x</td>
                        <td>2</td>
                        <td>10</td>
                        <td>1</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>